# Programmet har til formål at få geocoded apoteker og apoteksåbninger. Dette skal bruges til at skabe konkurrence og forbruger parametre.

In [1]:
import numpy             as np
import matplotlib.pyplot as plt           #We use it for construction of graphs, both 3D and 2D

import pandas as pd

import json
import os
import requests

# spatial stuff
import geopandas as gpd
import fiona
import folium
import shapely

In [2]:
pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/07/e1/9c72de674d5c2b8fcb0738a5ceeb5424941fefa080bfe4e240d0bacb5a38/geopy-2.0.0-py3-none-any.whl (111kB)
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.0.0
Note: you may need to restart the kernel to use updated packages.

Importering af Excel oversigt over apoteker

In [31]:
exceldata = pd.read_excel(r'C:\Users\nickl\OneDrive\Specialet\Data\APOTEK_20200109.xlsx')
exceldata = exceldata.dropna(subset=['Adresse', 'PostNr'])
exceldata
print(exceldata)

,ApotekNr,Navn,TypeID,Adresse,PostNr,Startdato,Slutdato,amt,Kommune,Region
0,359,Albertslund Apotek,6,Bytorvet 5,2620.0,1966-01-01 00:00:00,NaN,1084.0,165.0,1084.0
1,346-1,Allerød Apotek,7,Allerød Stationsvej 9,3450.0,NaN,NaN,1084.0,201.0,1084.0
2,082-1,Allinge Apotek,7,Kirkegade 13,3770.0,2016-05-01 00:00:00,NaN,1084.0,400.0,1084.0
3,175,Allinge Apotek,6,Kirkegade 13,3770.0,01-01-1898 00:00,2016-05-01 00:00:00,1084.0,400.0,1084.0
4,243-1,Amager Strand Apotek,7,Strandlodsvej 41,2300.0,2015-09-21 00:00:00,NaN,1084.0,101.0,1084.0
...,...,...,...,...,...,...,...,...,...,...
790,331,Aarhus Viby Apotek,6,"Viby Ringvej 10, ST. 26",8260.0,1933-01-01 00:00:00,NaN,1082.0,751.0,1082.0
791,337,Aarhus Åbyhøj Apotek,6,Haslevej 17,8230.0,1936-01-01 00:00:00,NaN,1082.0,751.0,1082.0
792,259,Aars Apotek,6,Søndergade 34,9600.0,1905-01-01 00:00:00,NaN,1081.0,820.0,1081.0
793,106,Aarup Apotek,6,Bredgade 25,5560.0,01-01-1859 00:00,2008-12-31 00:00:00,1083.0,420.0,1083.0
794,189-1,Aarup Apotek,7,Bredgade 60,5560.0,2009-01-01 00:00:00,NaN,1083.0,420.0,1083.0

In [46]:
exceldata_adress = exceldata["Adresse"]
exceldata_postal = exceldata["PostNr"].apply(int)
exceldata["Adresse_v2"] = exceldata["Adresse"] + ', ' + exceldata_postal.astype(str) + ' Denmark'


exceldata_addres_list = list(exceldata["Adresse_v2"])
type(exceldata_addres_list)

list

Geocoding

In [51]:
print(type(exceldata_addres_list[0]))

df = gpd.tools.geocode(exceldata_addres_list[700])
df

<class 'str'>

                    geometry                            address
0  POINT (10.20717 56.15792)  Immervad 2, 8000 Århus C, Denmark