In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import json
import os
import requests
import time
from tqdm import tqdm

In [14]:
url = 'https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_20200109.csv'
exceldata = pd.read_csv(url)
exceldata = exceldata.dropna(subset=['Adresse', 'PostNr'])
df=exceldata.reset_index(drop=True)

In [32]:
import math
mangler_start = []
for i in range(len(df)):
    try:
        if math.isnan(df['Startdato'][i]):
            mangler_start.append(df['Navn'][i])
    except Exception:
        continue

In [33]:
len(mangler_start)

153

In [76]:
url_virk = 'https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/CVR_virk.csv'
cvr_virk = pd.read_csv(url_virk, sep=';')

In [79]:
cvr_virk.head(3)

,CVR-nummer,Startdato,Ophørsdato,Navn,Adresse,Postnr.,By,Virksomhedsform,Hovedbranche,Telefonnr,Email,Reklamebeskyttet
0,36706333,07.04.2015,NaN,Det Gamle Apotek A/S,Hydrovej 5,6270,Tønder,Aktieselskab,464930 Engroshandel med kufferter og lædervarer,NaN,NaN,Nej
1,31896738,07.01.2009,NaN,CAFÉ BLÅGÅRDS APOTEK ApS,Blågårdsgade 20,2200,København,Anpartsselskab,563000 Cafeér værtshuse diskoteker mv.,35372442.0,bestyrer@kroteket.dk,Nej
2,28304641,22.12.2004,NaN,DET BETTE APOTEK ApS,Tolstrupvej 102,9700,Brønderslev,Anpartsselskab,999999 Uoplyst,NaN,NaN,Nej

In [74]:
# P-enheder
url_p = 'https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/CVR_P-enheder.csv'
cvr_p = pd.read_csv(url_p, sep=';')

In [83]:
cvr_p['Hovedbranche'][9][0:7]

'477300 '

In [87]:
branche_kode_p = []
for apotek in range(len(cvr_p)):
    branche_kode_p.append(cvr_p['Hovedbranche'][apotek][0:6])
    
cvr_p['branche_kode_p']=branche_kode_p

In [90]:
cvr_p.head(5)

,P-nummer,Startdato,Ophørsdato,Navn,Adresse,Postnr.,By,Hovedbranche,Telefonnr,Email,Reklamebeskyttet,branche_kode_p
0,1023758268,18.08.2018,NaN,Skalborg Apotek,Otto Mønsteds Vej 1,9200.0,Aalborg,477300 Apoteker,21608664.0,063fo@apoteket.dk,Ja,477300
1,1025913309,01.09.2020,NaN,Stensballe Apotek,c/o Superbrugsen Stensballe - Sundgårdsvej 1,8700.0,Horsens,477300 Apoteker,76254200.0,NaN,Ja,477300
2,1008657978,01.01.2000,NaN,Hasseris apotek,Hasseris Bymidte 9,9000.0,Aalborg,477300 Apoteker,NaN,NaN,Nej,477300
3,1003063457,19.11.1979,NaN,KORSØR APOTEK,Algade 49A,4220.0,Korsør,477300 Apoteker,58370003.0,korsoer@apotekeren.dk,Nej,477300
4,1019855666,31.10.2014,NaN,Farum Apotek,Farum Bytorv 69,3520.0,Farum,477300 Apoteker,44950239.0,vk@apoteket.dk,Ja,477300

In [ ]:
#link opbygning til scrape:
'https://datacvr.virk.dk/data/visenhed?enhedstype=produktionsenhed&id=1025314774&soeg=1025314774&language=da'
'https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=34455287&soeg=34455287&language=da'