In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats
import scipy.optimize
sns.set()

In [4]:
pd.set_option('precision', 2)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [83]:
df_2008 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2008.csv")
df_2008_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2008.csv")
df_2009 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2009.csv")
df_2009_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2009.csv")
df_2010 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2010.csv")
df_2010_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2010.csv")
df_2011 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2011.csv")
df_2011_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2011.csv")
df_2012 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2012.csv")
df_2012_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2012.csv")
df_2013 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2013.csv")
df_2013_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2013.csv")
df_2014 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2014.csv")
df_2014_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2014.csv")
df_2015 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2015.csv")
df_2015_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2015.csv")
df_2016 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2016.csv")
df_2016_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2016.csv")
df_2017 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2017.csv")
df_2017_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2017.csv")
df_2018 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2018.csv")
df_2018_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2018.csv")

#df_komkode =  pd.read_excel("C:/Users/Oliver/Desktop/11. Semester/DATA/Bresnahan/kommunekode.xlsx")
#df_befolkning_kode = df_befolkning.merge(df_komkode, left_on='Kommune', right_on='Kommune')

In [84]:
df_2008_ny['antal_apo']=df_2008_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2008_ny['År'] = 2008
df_2009_ny['antal_apo']=df_2009_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2009_ny['År'] = 2009
df_2010_ny['antal_apo']=df_2010_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2010_ny['År'] = 2010
df_2011_ny['antal_apo']=df_2011_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2011_ny['År'] = 2011
df_2012_ny['antal_apo']=df_2012_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2012_ny['År'] = 2012
df_2013_ny['antal_apo']=df_2013_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2013_ny['År'] = 2013
df_2014_ny['antal_apo']=df_2014_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2014_ny['År'] = 2014
df_2015_ny['antal_apo']=df_2015_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2015_ny['År'] = 2015
df_2016_ny['antal_apo']=df_2016_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2016_ny['År'] = 2016
df_2017_ny['antal_apo']=df_2017_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2017_ny['År'] = 2017
df_2018_ny['antal_apo']=df_2018_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2018_ny['År'] = 2018

In [85]:
df_2008_reduced = df_2008_ny.drop_duplicates(subset=['Kommune'])
df_2009_reduced = df_2009_ny.drop_duplicates(subset=['Kommune'])
df_2010_reduced = df_2010_ny.drop_duplicates(subset=['Kommune'])
df_2011_reduced = df_2011_ny.drop_duplicates(subset=['Kommune'])
df_2012_reduced = df_2012_ny.drop_duplicates(subset=['Kommune'])
df_2013_reduced = df_2013_ny.drop_duplicates(subset=['Kommune'])
df_2014_reduced = df_2014_ny.drop_duplicates(subset=['Kommune'])
df_2015_reduced = df_2015_ny.drop_duplicates(subset=['Kommune'])
df_2016_reduced = df_2016_ny.drop_duplicates(subset=['Kommune'])
df_2017_reduced = df_2017_ny.drop_duplicates(subset=['Kommune'])
df_2018_reduced = df_2018_ny.drop_duplicates(subset=['Kommune'])

In [86]:
df_bres_2008_ny = df_2008_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2009_ny = df_2009_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2010_ny = df_2010_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2011_ny = df_2011_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2012_ny = df_2012_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2013_ny = df_2013_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2014_ny = df_2014_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2015_ny = df_2015_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2016_ny = df_2016_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2017_ny = df_2017_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2018_ny = df_2018_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)

In [87]:
frames = [ df_bres_2008_ny, df_bres_2009_ny, df_bres_2010_ny, df_bres_2011_ny,df_bres_2012_ny,df_bres_2013_ny,df_bres_2014_ny,df_bres_2015_ny,df_bres_2016_ny,df_bres_2017_ny,df_bres_2018_ny]#df_bres_2010, df_bres_2011, df_bres_2012, df_bres_2013, df_bres_2014, df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]
df_bres_samlet_ny = pd.concat(frames)
df_bres_samlet_ny.to_csv('Bresnahan_data_full_inf.csv')

In [90]:
df_bres_samlet_ny

,Kommune,GNS_OMS,GNS_MED_PROFIT,ALDER,d65,d17,samlet_ind,Besk,Besk1864,DK,Befolkning,markedsvaerdix,yderkom,antal_apo,År
0,101,32175513.68,10420720.83,36.10,0.11,0.17,197499.87,0.55,0.73,0.79,518574,2068229.73,0,26,2008
26,147,35360723.52,11353348.05,39.68,0.16,0.17,221333.09,0.54,0.76,0.85,95029,2206108.69,0,5,2008
31,151,32632761.25,10439521.77,40.04,0.18,0.23,186155.49,0.49,0.77,0.88,47398,2432344.50,0,3,2008
34,153,nan,nan,40.57,0.18,0.22,172691.88,0.48,0.73,0.76,33762,1951806.28,0,2,2008
36,155,nan,nan,42.38,0.20,0.23,220357.76,0.51,0.82,0.94,13411,2977526.41,0,1,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,840,13778854.25,4758714.16,40.93,0.19,0.24,199586.40,0.52,0.82,0.94,29916,1154222.88,0,3,2018
450,846,26189293.35,8895707.75,43.51,0.23,0.20,177052.88,0.49,0.76,0.92,42055,911495.17,0,3,2018
453,849,18361416.52,6181027.67,43.69,0.24,0.20,166061.78,0.48,0.77,0.94,38460,962701.80,0,4,2018
457,851,15804148.63,5390246.07,39.46,0.18,0.18,182117.68,0.49,0.72,0.89,215312,1263168.48,0,20,2018
477,860,16358730.04,5576283.60,43.69,0.23,0.20,170647.52,0.48,0.76,0.92,64665,1131648.25,0,7,2018

In [48]:
#df_befolkning_kode = df_befolkning.merge(df_komkode, left_on='Kommune', right_on='Kommune')

In [50]:
# Okay, hvad er jeg interesseret i?
# Jeg er interesseret i at oprette en ny dataframe der har: 
# Antal i hver kommune kode = marked
# alle lov modellens variable vil være det samme i hvert marked på den måde?

# Jeg starter med at kigge på et enkelt år
#df_pop_2008 = df_befolkning[['Kommune', 'Kode','2008']]
#df_pop_2009 = df_befolkning[['Kommune', 'Kode','2009']]
# df_pop_2010 = df_befolkning[['Kommune', 'Kode','2010']]
# df_pop_2010.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2010['År'] = 2010
# df_pop_2011 = df_befolkning[['Kommune', 'Kode','2011']]
# df_pop_2011.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2011['År'] = 2011
# df_pop_2012 = df_befolkning[['Kommune', 'Kode','2012']]
# df_pop_2012.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2012['År'] = 2012
# df_pop_2013 = df_befolkning[['Kommune', 'Kode','2013']]
# df_pop_2013.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2013['År'] = 2013
# df_pop_2014 = df_befolkning[['Kommune', 'Kode','2014']]
# df_pop_2014.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2014['År'] = 2014
df_pop_2015 = df_befolkning[['Kommune', 'Kode','2015']]
df_pop_2015.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2015['År'] = 2015
df_pop_2016 = df_befolkning[['Kommune', 'Kode','2016']]
df_pop_2016.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2016['År'] = 2016
df_pop_2017 = df_befolkning[['Kommune', 'Kode','2017']]
df_pop_2017.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2017['År'] = 2017
df_pop_2018 = df_befolkning[['Kommune', 'Kode','2018']]
df_pop_2018.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2018['År'] = 2018

# 
#df_pop_2018 = df_pop_2018.astype({'Kommune': int})
# Tæller antal apoteker i hver kommune
#df_2008['antal_apo']=df_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
#df_2009['antal_apo']=df_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2010['antal_apo']=df_2010.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2011['antal_apo']=df_2011.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2012['antal_apo']=df_2012.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2013['antal_apo']=df_2013.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2014['antal_apo']=df_2014.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2015['antal_apo']=df_2015.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2016['antal_apo']=df_2016.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2017['antal_apo']=df_2017.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2018['antal_apo']=df_2018.groupby(by='Kommune')['ApotekNr'].transform('count')

# Merge populations data med apoteksdata
#df_2008_pop = df_2008.merge(df_pop_2008, left_on='Kommune', right_on='Kode')
#df_2009_pop = df_2009.merge(df_pop_2009, left_on='Kommune', right_on='Kode')
#df_2010_pop = df_2010.merge(df_pop_2010, left_on='Kommune', right_on='Kode')
# df_2011_pop = df_2011.merge(df_pop_2011, left_on='Kommune', right_on='Kode')
# df_2012_pop = df_2012.merge(df_pop_2012, left_on='Kommune', right_on='Kode')
# df_2013_pop = df_2013.merge(df_pop_2013, left_on='Kommune', right_on='Kode')
# df_2014_pop = df_2014.merge(df_pop_2014, left_on='Kommune', right_on='Kode')
df_2015_pop = df_2015.merge(df_pop_2015, left_on='Kommune', right_on='Kode')
df_2016_pop = df_2016.merge(df_pop_2016, left_on='Kommune', right_on='Kode')
df_2017_pop = df_2017.merge(df_pop_2017, left_on='Kommune', right_on='Kode')
df_2018_pop = df_2018.merge(df_pop_2018, left_on='Kommune', right_on='Kode')

# Kun interesseret i antal pr kommune og kommune demografi/population - ikke individuelle apoteker
#df_2008_pop_reduced = df_2008_pop.drop_duplicates(subset=['Kode'])
#df_2009_pop_reduced = df_2009_pop.drop_duplicates(subset=['Kode'])
# df_2010_pop_reduced = df_2010_pop.drop_duplicates(subset=['Kode'])
# df_2011_pop_reduced = df_2011_pop.drop_duplicates(subset=['Kode'])
# df_2012_pop_reduced = df_2012_pop.drop_duplicates(subset=['Kode'])
# df_2013_pop_reduced = df_2013_pop.drop_duplicates(subset=['Kode'])
# df_2014_pop_reduced = df_2014_pop.drop_duplicates(subset=['Kode'])
df_2015_pop_reduced = df_2015_pop.drop_duplicates(subset=['Kode'])
df_2016_pop_reduced = df_2016_pop.drop_duplicates(subset=['Kode'])
df_2017_pop_reduced = df_2017_pop.drop_duplicates(subset=['Kode'])
df_2018_pop_reduced = df_2018_pop.drop_duplicates(subset=['Kode'])

# Note: der er 97 fordi Læse og Christiansø ikke er der?

C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
# Drop uinterresante variable:
#df_bres_2008 = df_2008_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2009 = df_2009_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2010 = df_2010_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2011 = df_2011_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2012 = df_2012_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2013 = df_2013_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2014 = df_2014_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2015 = df_2015_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2016 = df_2016_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2017 = df_2017_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2018 = df_2018_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
# Eksempel på datasæt:
#df_bres_samlet =

In [54]:
frames = [ df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]#df_bres_2010, df_bres_2011, df_bres_2012, df_bres_2013, df_bres_2014, df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]
df_bres_samlet = pd.concat(frames)

In [55]:
df_bres_samlet.to_csv('Bresnahan_data_2.csv')

In [62]:
df_bres['antal_apo'].describe()

count    97.000000
mean      4.989691
std       4.737912
min       1.000000
25%       2.000000
50%       4.000000
75%       6.000000
max      35.000000
Name: antal_apo, dtype: float64

In [92]:
df_bres_2008_ny

,Kommune,GNS_OMS,GNS_MED_PROFIT,ALDER,d65,d17,samlet_ind,Besk,Besk1864,DK,Befolkning,markedsvaerdix,yderkom,antal_apo,År
0,101,32175513.68,10420720.83,36.10,0.11,0.17,197499.87,0.55,0.73,0.79,518574,2068229.73,0,26,2008
26,147,35360723.52,11353348.05,39.68,0.16,0.17,221333.09,0.54,0.76,0.85,95029,2206108.69,0,5,2008
31,151,32632761.25,10439521.77,40.04,0.18,0.23,186155.49,0.49,0.77,0.88,47398,2432344.50,0,3,2008
34,153,nan,nan,40.57,0.18,0.22,172691.88,0.48,0.73,0.76,33762,1951806.28,0,2,2008
36,155,nan,nan,42.38,0.20,0.23,220357.76,0.51,0.82,0.94,13411,2977526.41,0,1,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,840,nan,nan,39.09,0.15,0.25,177972.70,0.53,0.82,0.97,28900,2444045.62,0,2,2008
297,846,30221943.20,9842736.31,40.37,0.17,0.23,168157.21,0.51,0.78,0.95,42762,1045468.01,0,3,2008
300,849,27990480.85,9072518.83,40.99,0.17,0.23,164553.59,0.51,0.78,0.97,38990,1113718.33,0,3,2008
303,851,38807439.93,12589527.79,39.00,0.15,0.20,176719.51,0.51,0.74,0.93,196292,1347488.81,0,10,2008
313,860,24606980.68,7956950.29,40.85,0.18,0.23,162039.50,0.50,0.77,0.95,67102,1336709.64,0,6,2008