In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats
import scipy.optimize
sns.set()

In [4]:
pd.set_option('precision', 2)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [46]:
df_befolkning =  pd.read_excel("C:/Users/Oliver/Desktop/11. Semester/DATA/Bresnahan/Befolkning_kommune.xlsx")

In [56]:

df_2008 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2008.csv")
df_2008_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2009 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2009.csv")
df_2009_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2010 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2010.csv")
df_2010_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2011 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2011.csv")
df_2011_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2012 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2012.csv")
df_2012_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2013 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2013.csv")
df_2013_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2014 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2014.csv")
df_2014_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2015 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2015.csv")
df_2015_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2016 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2016.csv")
df_2016_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2017 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2017.csv")
df_2017_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")
df_2018 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2018.csv")
df_2018_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/APOTEK_ny2_u_UDS_M_OMS_M_IND_2008.csv")

#df_komkode =  pd.read_excel("C:/Users/Oliver/Desktop/11. Semester/DATA/Bresnahan/kommunekode.xlsx")
#df_befolkning_kode = df_befolkning.merge(df_komkode, left_on='Kommune', right_on='Kommune')

In [59]:
df_2008_ny['antal_apo']=df_2008_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2009_ny['antal_apo']=df_2009_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2010_ny['antal_apo']=df_2010_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2011_ny['antal_apo']=df_2011_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2012_ny['antal_apo']=df_2012_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2013_ny['antal_apo']=df_2013_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2014_ny['antal_apo']=df_2014_ny.groupby(by='Kommune')['ApotekNr'].transform('count')

In [62]:
df_2008_reduced = df_2008_ny.drop_duplicates(subset=['Kommune'])
df_2009_reduced = df_2009_ny.drop_duplicates(subset=['Kommune'])
df_2010_reduced = df_2010_ny.drop_duplicates(subset=['Kommune'])
df_2011_reduced = df_2011_ny.drop_duplicates(subset=['Kommune'])
df_2012_reduced = df_2012_ny.drop_duplicates(subset=['Kommune'])
df_2013_reduced = df_2013_ny.drop_duplicates(subset=['Kommune'])
df_2014_reduced = df_2014_ny.drop_duplicates(subset=['Kommune'])

In [65]:
df_bres_2008_ny = df_2008_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2009_ny = df_2009_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2010_ny = df_2010_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2011_ny = df_2011_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2012_ny = df_2012_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2013_ny = df_2013_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2014_ny = df_2014_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)

In [67]:
frames = [ df_bres_2008_ny, df_bres_2009_ny, df_bres_2010_ny, df_bres_2011_ny,df_bres_2012_ny,df_bres_2013_ny,df_bres_2014_ny]#df_bres_2010, df_bres_2011, df_bres_2012, df_bres_2013, df_bres_2014, df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]
df_bres_samlet_ny = pd.concat(frames)
df_bres_samlet_ny.to_csv('Bresnahan_data_3.csv')

In [63]:
df_2008_reduced

,VAR1,ApotekNr,Navn,TypeID,Adresse,PostNr,Startdato,Slutdato,amt,Kommune,...,ALDER,d65,d17,samlet_ind,Besk,Besk1864,DK,Befolkning,yderkom,antal_apo
0,348,243,København Amagerbro,6,Reberbanegade 3,2300,"01Jan1913 0:00:00,000",NaN,1084.00,101,...,36.10,0.11,0.17,177947.39,0.55,0.73,0.79,518574,0,26
26,147,111,Frederiksberg Apotek,6,Gammel Kongevej 162,1850,01-01-1867 00:00,NaN,1084.00,147,...,39.68,0.16,0.17,199421.12,0.54,0.76,0.85,95029,0,5
31,59,225,Ballerup Apotek,6,Centrumgaden 24-26,2750,"01Jan1907 0:00:00,000",NaN,1084.00,151,...,40.04,0.18,0.23,167726.10,0.49,0.77,0.88,47398,0,3
34,90,355-1,Brøndby Strand Apote,7,Brøndby Strand Centrum 16,2660,01.01.1992,NaN,1084.00,153,...,40.57,0.18,0.22,155595.38,0.48,0.73,0.76,33762,0,2
36,109,350-1,Dragør Apotek,7,Maglebytorv 18,2791,"01Sep2006 0:00:00,000",NaN,1084.00,155,...,42.38,0.20,0.23,198542.34,0.51,0.82,0.94,13411,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,599,220,Skørping Apotek,6,Sverriggårdsvej 10,9520,"01Jan1906 0:00:00,000",NaN,1081.00,840,...,39.09,0.15,0.25,160353.40,0.53,0.82,0.97,28900,0,2
297,197,218,Hadsund Apotek,6,Storegade 23-25,9560,"01Jan1905 0:00:00,000",NaN,1081.00,846,...,40.37,0.17,0.23,151509.65,0.51,0.78,0.95,42762,0,3
300,88,167,Brovst Apotek,6,Vestergade 6,9460,01-01-1897 00:00,01-NOV-2009,1081.00,849,...,40.99,0.17,0.23,148262.78,0.51,0.78,0.97,38990,0,3
303,199,144-1,Hals Apotek,7,Havnegade 7A,9370,"01Feb2006 0:00:00,000",NaN,1081.00,851,...,39.00,0.15,0.20,159224.28,0.51,0.74,0.93,196292,0,10
313,238,356,Hirtshals Apotek,6,Jørgen Fibigersgade 18,9850,"01Jan1959 0:00:00,000",NaN,1081.00,860,...,40.85,0.18,0.23,145997.59,0.50,0.77,0.95,67102,0,6

In [48]:
#df_befolkning_kode = df_befolkning.merge(df_komkode, left_on='Kommune', right_on='Kommune')

In [50]:
# Okay, hvad er jeg interesseret i?
# Jeg er interesseret i at oprette en ny dataframe der har: 
# Antal i hver kommune kode = marked
# alle lov modellens variable vil være det samme i hvert marked på den måde?

# Jeg starter med at kigge på et enkelt år
#df_pop_2008 = df_befolkning[['Kommune', 'Kode','2008']]
#df_pop_2009 = df_befolkning[['Kommune', 'Kode','2009']]
# df_pop_2010 = df_befolkning[['Kommune', 'Kode','2010']]
# df_pop_2010.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2010['År'] = 2010
# df_pop_2011 = df_befolkning[['Kommune', 'Kode','2011']]
# df_pop_2011.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2011['År'] = 2011
# df_pop_2012 = df_befolkning[['Kommune', 'Kode','2012']]
# df_pop_2012.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2012['År'] = 2012
# df_pop_2013 = df_befolkning[['Kommune', 'Kode','2013']]
# df_pop_2013.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2013['År'] = 2013
# df_pop_2014 = df_befolkning[['Kommune', 'Kode','2014']]
# df_pop_2014.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2014['År'] = 2014
df_pop_2015 = df_befolkning[['Kommune', 'Kode','2015']]
df_pop_2015.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2015['År'] = 2015
df_pop_2016 = df_befolkning[['Kommune', 'Kode','2016']]
df_pop_2016.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2016['År'] = 2016
df_pop_2017 = df_befolkning[['Kommune', 'Kode','2017']]
df_pop_2017.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2017['År'] = 2017
df_pop_2018 = df_befolkning[['Kommune', 'Kode','2018']]
df_pop_2018.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2018['År'] = 2018

# 
#df_pop_2018 = df_pop_2018.astype({'Kommune': int})
# Tæller antal apoteker i hver kommune
#df_2008['antal_apo']=df_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
#df_2009['antal_apo']=df_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2010['antal_apo']=df_2010.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2011['antal_apo']=df_2011.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2012['antal_apo']=df_2012.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2013['antal_apo']=df_2013.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2014['antal_apo']=df_2014.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2015['antal_apo']=df_2015.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2016['antal_apo']=df_2016.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2017['antal_apo']=df_2017.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2018['antal_apo']=df_2018.groupby(by='Kommune')['ApotekNr'].transform('count')

# Merge populations data med apoteksdata
#df_2008_pop = df_2008.merge(df_pop_2008, left_on='Kommune', right_on='Kode')
#df_2009_pop = df_2009.merge(df_pop_2009, left_on='Kommune', right_on='Kode')
#df_2010_pop = df_2010.merge(df_pop_2010, left_on='Kommune', right_on='Kode')
# df_2011_pop = df_2011.merge(df_pop_2011, left_on='Kommune', right_on='Kode')
# df_2012_pop = df_2012.merge(df_pop_2012, left_on='Kommune', right_on='Kode')
# df_2013_pop = df_2013.merge(df_pop_2013, left_on='Kommune', right_on='Kode')
# df_2014_pop = df_2014.merge(df_pop_2014, left_on='Kommune', right_on='Kode')
df_2015_pop = df_2015.merge(df_pop_2015, left_on='Kommune', right_on='Kode')
df_2016_pop = df_2016.merge(df_pop_2016, left_on='Kommune', right_on='Kode')
df_2017_pop = df_2017.merge(df_pop_2017, left_on='Kommune', right_on='Kode')
df_2018_pop = df_2018.merge(df_pop_2018, left_on='Kommune', right_on='Kode')

# Kun interesseret i antal pr kommune og kommune demografi/population - ikke individuelle apoteker
#df_2008_pop_reduced = df_2008_pop.drop_duplicates(subset=['Kode'])
#df_2009_pop_reduced = df_2009_pop.drop_duplicates(subset=['Kode'])
# df_2010_pop_reduced = df_2010_pop.drop_duplicates(subset=['Kode'])
# df_2011_pop_reduced = df_2011_pop.drop_duplicates(subset=['Kode'])
# df_2012_pop_reduced = df_2012_pop.drop_duplicates(subset=['Kode'])
# df_2013_pop_reduced = df_2013_pop.drop_duplicates(subset=['Kode'])
# df_2014_pop_reduced = df_2014_pop.drop_duplicates(subset=['Kode'])
df_2015_pop_reduced = df_2015_pop.drop_duplicates(subset=['Kode'])
df_2016_pop_reduced = df_2016_pop.drop_duplicates(subset=['Kode'])
df_2017_pop_reduced = df_2017_pop.drop_duplicates(subset=['Kode'])
df_2018_pop_reduced = df_2018_pop.drop_duplicates(subset=['Kode'])

# Note: der er 97 fordi Læse og Christiansø ikke er der?

C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
# Drop uinterresante variable:
#df_bres_2008 = df_2008_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2009 = df_2009_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2010 = df_2010_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2011 = df_2011_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2012 = df_2012_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2013 = df_2013_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2014 = df_2014_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2015 = df_2015_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2016 = df_2016_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2017 = df_2017_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2018 = df_2018_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
# Eksempel på datasæt:
#df_bres_samlet =

In [54]:
frames = [ df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]#df_bres_2010, df_bres_2011, df_bres_2012, df_bres_2013, df_bres_2014, df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]
df_bres_samlet = pd.concat(frames)

In [55]:
df_bres_samlet.to_csv('Bresnahan_data_2.csv')

In [62]:
df_bres['antal_apo'].describe()

count    97.000000
mean      4.989691
std       4.737912
min       1.000000
25%       2.000000
50%       4.000000
75%       6.000000
max      35.000000
Name: antal_apo, dtype: float64