In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats
import scipy.optimize
sns.set()

In [3]:
pd.set_option('precision', 2)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [38]:
df_læsø =  pd.read_csv('https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/Bresnahan/L%C3%A6s%C3%B8.csv')
år = list(range(2008,2019))
df_læsø['år'] = år
df_læsø.rename(columns = {'kommune': 'Kommune', 'år': 'År'}, inplace = True)

In [22]:
df_2008 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2008.csv")
df_2008_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2008.csv")
df_2009 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2009.csv")
df_2009_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2009.csv")
df_2010 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2010.csv")
df_2010_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2010.csv")
df_2011 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2011.csv")
df_2011_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2011.csv")
df_2012 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2012.csv")
df_2012_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2012.csv")
df_2013 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2013.csv")
df_2013_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2013.csv")
df_2014 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2014.csv")
df_2014_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2014.csv")
df_2015 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2015.csv")
df_2015_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2015.csv")
df_2016 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2016.csv")
df_2016_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2016.csv")
df_2017 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2017.csv")
df_2017_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2017.csv")
df_2018 =  pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/APOTEK_ny_u_UDS_M_OMS_M_IND_2018.csv")
df_2018_ny = pd.read_csv("https://raw.githubusercontent.com/Oliverkobaek/thesis_2020/master/%C3%85rsdata/Ny/APOTEK_ny2_u_UDS_M_OMS_M_IND_inf_2018.csv")

#df_komkode =  pd.read_excel("C:/Users/Oliver/Desktop/11. Semester/DATA/Bresnahan/kommunekode.xlsx")
#df_befolkning_kode = df_befolkning.merge(df_komkode, left_on='Kommune', right_on='Kommune')

In [30]:
df_2008_ny['antal_apo']=df_2008_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2008_ny['År'] = 2008
df_2009_ny['antal_apo']=df_2009_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2009_ny['År'] = 2009
df_2010_ny['antal_apo']=df_2010_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2010_ny['År'] = 2010
df_2011_ny['antal_apo']=df_2011_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2011_ny['År'] = 2011
df_2012_ny['antal_apo']=df_2012_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2012_ny['År'] = 2012
df_2013_ny['antal_apo']=df_2013_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2013_ny['År'] = 2013
df_2014_ny['antal_apo']=df_2014_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2014_ny['År'] = 2014
df_2015_ny['antal_apo']=df_2015_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2015_ny['År'] = 2015
df_2016_ny['antal_apo']=df_2016_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2016_ny['År'] = 2016
df_2017_ny['antal_apo']=df_2017_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2017_ny['År'] = 2017
df_2018_ny['antal_apo']=df_2018_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2018_ny['År'] = 2018

In [31]:
df_2008_reduced = df_2008_ny.drop_duplicates(subset=['Kommune'])
df_2009_reduced = df_2009_ny.drop_duplicates(subset=['Kommune'])
df_2010_reduced = df_2010_ny.drop_duplicates(subset=['Kommune'])
df_2011_reduced = df_2011_ny.drop_duplicates(subset=['Kommune'])
df_2012_reduced = df_2012_ny.drop_duplicates(subset=['Kommune'])
df_2013_reduced = df_2013_ny.drop_duplicates(subset=['Kommune'])
df_2014_reduced = df_2014_ny.drop_duplicates(subset=['Kommune'])
df_2015_reduced = df_2015_ny.drop_duplicates(subset=['Kommune'])
df_2016_reduced = df_2016_ny.drop_duplicates(subset=['Kommune'])
df_2017_reduced = df_2017_ny.drop_duplicates(subset=['Kommune'])
df_2018_reduced = df_2018_ny.drop_duplicates(subset=['Kommune'])

In [32]:
df_bres_2008_ny = df_2008_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2009_ny = df_2009_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2010_ny = df_2010_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2011_ny = df_2011_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2012_ny = df_2012_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2013_ny = df_2013_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2014_ny = df_2014_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2015_ny = df_2015_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2016_ny = df_2016_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2017_ny = df_2017_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2018_ny = df_2018_reduced.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)

In [33]:
df_bres_2018_ny

,Kommune,ALDER,d65,d17,samlet_ind,Besk,Besk1864,DK,Befolkning,markedsvaerdix,yderkom,antal_apo,År
0,101,35.45,0.102927,0.175385,219838.02190,0.556601,0.739809,0.748970,623404,2.161067e+06,0,35,2018
35,147,39.31,0.170537,0.176780,247917.78922,0.539111,0.778739,0.816380,103960,2.496939e+06,0,10,2018
45,151,41.71,0.206963,0.212246,195141.23211,0.478851,0.764392,0.832934,48458,1.740756e+06,0,5,2018
50,153,40.98,0.191739,0.209566,168886.78874,0.457004,0.709531,0.666733,35397,1.833445e+06,0,3,2018
53,155,43.83,0.243868,0.226419,245042.36065,0.490812,0.826427,0.915065,14270,2.653095e+06,0,1,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,840,40.93,0.193508,0.238835,199586.39944,0.516623,0.818713,0.943227,29916,1.154223e+06,0,3,2018
450,846,43.51,0.225395,0.197289,177052.87973,0.489407,0.760894,0.922705,42055,9.114952e+05,0,3,2018
453,849,43.69,0.239288,0.203224,166061.77609,0.479398,0.765624,0.939287,38460,9.627018e+05,0,4,2018
457,851,39.46,0.178011,0.181379,182117.68051,0.491668,0.716766,0.891000,215312,1.263168e+06,0,20,2018
477,860,43.69,0.231331,0.195175,170647.52008,0.483361,0.755866,0.919406,64665,1.131648e+06,0,7,2018

In [46]:
frames = [ df_bres_2008_ny, df_bres_2009_ny, df_bres_2010_ny, df_bres_2011_ny,df_bres_2012_ny,df_bres_2013_ny,df_bres_2014_ny,df_bres_2015_ny,df_bres_2016_ny,df_bres_2017_ny,df_bres_2018_ny, df_læsø]#df_bres_2010, df_bres_2011, df_bres_2012, df_bres_2013, df_bres_2014, df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]
df_bres_samlet_ny = pd.concat(frames)
df_bres_samlet_ny.to_csv('Bresnahan_data_full_læsø.csv')

In [47]:
df_bres_samlet_ny

,Kommune,ALDER,d65,d17,samlet_ind,Besk,Besk1864,DK,Befolkning,markedsvaerdix,yderkom,antal_apo,År
0,101,36.10,0.11,0.17,197499.87,0.55,0.73,0.79,518574,2068229.73,0,26,2008
26,147,39.68,0.16,0.17,221333.09,0.54,0.76,0.85,95029,2206108.69,0,5,2008
31,151,40.04,0.18,0.23,186155.49,0.49,0.77,0.88,47398,2432344.50,0,3,2008
34,153,40.57,0.18,0.22,172691.88,0.48,0.73,0.76,33762,1951806.28,0,2,2008
36,155,42.38,0.20,0.23,220357.76,0.51,0.82,0.94,13411,2977526.41,0,1,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,825,51.74,0.35,0.14,154652.82,0.47,0.73,0.93,1795,789854.05,1,0,2014
7,825,51.80,0.36,0.14,156511.19,0.47,0.74,0.92,1817,547791.16,1,0,2015
8,825,52.28,0.37,0.13,158750.32,0.47,0.75,0.92,1793,489477.15,1,0,2016
9,825,52.95,0.38,0.13,165000.49,0.48,0.75,0.91,1807,570316.13,1,0,2017
10,825,53.05,0.39,0.13,166023.23,0.49,0.76,0.91,1806,556332.47,1,0,2018

In [48]:
#df_befolkning_kode = df_befolkning.merge(df_komkode, left_on='Kommune', right_on='Kommune')

In [50]:
# Okay, hvad er jeg interesseret i?
# Jeg er interesseret i at oprette en ny dataframe der har: 
# Antal i hver kommune kode = marked
# alle lov modellens variable vil være det samme i hvert marked på den måde?

# Jeg starter med at kigge på et enkelt år
#df_pop_2008 = df_befolkning[['Kommune', 'Kode','2008']]
#df_pop_2009 = df_befolkning[['Kommune', 'Kode','2009']]
# df_pop_2010 = df_befolkning[['Kommune', 'Kode','2010']]
# df_pop_2010.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2010['År'] = 2010
# df_pop_2011 = df_befolkning[['Kommune', 'Kode','2011']]
# df_pop_2011.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2011['År'] = 2011
# df_pop_2012 = df_befolkning[['Kommune', 'Kode','2012']]
# df_pop_2012.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2012['År'] = 2012
# df_pop_2013 = df_befolkning[['Kommune', 'Kode','2013']]
# df_pop_2013.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2013['År'] = 2013
# df_pop_2014 = df_befolkning[['Kommune', 'Kode','2014']]
# df_pop_2014.columns = ['Kommune', 'Kode','Befolkning']
# df_pop_2014['År'] = 2014
df_pop_2015 = df_befolkning[['Kommune', 'Kode','2015']]
df_pop_2015.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2015['År'] = 2015
df_pop_2016 = df_befolkning[['Kommune', 'Kode','2016']]
df_pop_2016.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2016['År'] = 2016
df_pop_2017 = df_befolkning[['Kommune', 'Kode','2017']]
df_pop_2017.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2017['År'] = 2017
df_pop_2018 = df_befolkning[['Kommune', 'Kode','2018']]
df_pop_2018.columns = ['Kommune', 'Kode','Befolkning']
df_pop_2018['År'] = 2018

# 
#df_pop_2018 = df_pop_2018.astype({'Kommune': int})
# Tæller antal apoteker i hver kommune
#df_2008['antal_apo']=df_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
#df_2009['antal_apo']=df_ny.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2010['antal_apo']=df_2010.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2011['antal_apo']=df_2011.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2012['antal_apo']=df_2012.groupby(by='Kommune')['ApotekNr'].transform('count')
# df_2013['antal_apo']=df_2013.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2014['antal_apo']=df_2014.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2015['antal_apo']=df_2015.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2016['antal_apo']=df_2016.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2017['antal_apo']=df_2017.groupby(by='Kommune')['ApotekNr'].transform('count')
df_2018['antal_apo']=df_2018.groupby(by='Kommune')['ApotekNr'].transform('count')

# Merge populations data med apoteksdata
#df_2008_pop = df_2008.merge(df_pop_2008, left_on='Kommune', right_on='Kode')
#df_2009_pop = df_2009.merge(df_pop_2009, left_on='Kommune', right_on='Kode')
#df_2010_pop = df_2010.merge(df_pop_2010, left_on='Kommune', right_on='Kode')
# df_2011_pop = df_2011.merge(df_pop_2011, left_on='Kommune', right_on='Kode')
# df_2012_pop = df_2012.merge(df_pop_2012, left_on='Kommune', right_on='Kode')
# df_2013_pop = df_2013.merge(df_pop_2013, left_on='Kommune', right_on='Kode')
# df_2014_pop = df_2014.merge(df_pop_2014, left_on='Kommune', right_on='Kode')
df_2015_pop = df_2015.merge(df_pop_2015, left_on='Kommune', right_on='Kode')
df_2016_pop = df_2016.merge(df_pop_2016, left_on='Kommune', right_on='Kode')
df_2017_pop = df_2017.merge(df_pop_2017, left_on='Kommune', right_on='Kode')
df_2018_pop = df_2018.merge(df_pop_2018, left_on='Kommune', right_on='Kode')

# Kun interesseret i antal pr kommune og kommune demografi/population - ikke individuelle apoteker
#df_2008_pop_reduced = df_2008_pop.drop_duplicates(subset=['Kode'])
#df_2009_pop_reduced = df_2009_pop.drop_duplicates(subset=['Kode'])
# df_2010_pop_reduced = df_2010_pop.drop_duplicates(subset=['Kode'])
# df_2011_pop_reduced = df_2011_pop.drop_duplicates(subset=['Kode'])
# df_2012_pop_reduced = df_2012_pop.drop_duplicates(subset=['Kode'])
# df_2013_pop_reduced = df_2013_pop.drop_duplicates(subset=['Kode'])
# df_2014_pop_reduced = df_2014_pop.drop_duplicates(subset=['Kode'])
df_2015_pop_reduced = df_2015_pop.drop_duplicates(subset=['Kode'])
df_2016_pop_reduced = df_2016_pop.drop_duplicates(subset=['Kode'])
df_2017_pop_reduced = df_2017_pop.drop_duplicates(subset=['Kode'])
df_2018_pop_reduced = df_2018_pop.drop_duplicates(subset=['Kode'])

# Note: der er 97 fordi Læse og Christiansø ikke er der?

C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Oliver\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
# Drop uinterresante variable:
#df_bres_2008 = df_2008_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2009 = df_2009_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2010 = df_2010_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2011 = df_2011_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2012 = df_2012_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2013 = df_2013_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
#df_bres_2014 = df_2014_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2015 = df_2015_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2016 = df_2016_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2017 = df_2017_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2018 = df_2018_pop_reduced.drop(['VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'Kommune_x', 'amt', 'PostNr', 'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
# Eksempel på datasæt:
#df_bres_samlet =

In [54]:
frames = [ df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]#df_bres_2010, df_bres_2011, df_bres_2012, df_bres_2013, df_bres_2014, df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]
df_bres_samlet = pd.concat(frames)

In [55]:
df_bres_samlet.to_csv('Bresnahan_data_2.csv')

In [ ]:
#### TIl BY MARKEDER  #####

In [59]:
df_byer_2 =  pd.read_excel("Bymarkeder_unikpost.xlsx")
df_byer_2 = df_byer_2.rename(columns = {'kommune': 'Kommune'})

In [143]:
df_byer_2010 = df_byer_2.drop(['2011', '2012', '2013', '2014','2015', '2016', '2017', '2018', '2019', '2020'], axis =1)
df_byer_2011 = df_byer_2.drop(['2010', '2012', '2013', '2014','2015', '2016', '2017', '2018', '2019', '2020'], axis =1)
df_byer_2012 = df_byer_2.drop(['2011', '2010', '2013', '2014','2015', '2016', '2017', '2018', '2019', '2020'], axis =1)
df_byer_2013 = df_byer_2.drop(['2011', '2012', '2010', '2014','2015', '2016', '2017', '2018', '2019', '2020'], axis =1)
df_byer_2014 = df_byer_2.drop(['2011', '2012', '2013', '2010','2015', '2016', '2017', '2018', '2019', '2020'], axis =1)
df_byer_2015 = df_byer_2.drop(['2011', '2012', '2013', '2014','2010', '2016', '2017', '2018', '2019', '2020'], axis =1)
df_byer_2016 = df_byer_2.drop(['2011', '2012', '2013', '2014','2015', '2010', '2017', '2018', '2019', '2020'], axis =1)
df_byer_2017 = df_byer_2.drop(['2011', '2012', '2013', '2014','2015', '2016', '2010', '2018', '2019', '2020'], axis =1)
df_byer_2018 = df_byer_2.drop(['2011', '2012', '2013', '2014','2015', '2016', '2017', '2010', '2019', '2020'], axis =1)

In [144]:
df_2010_post = df_2010_ny
df_2011_post = df_2011_ny
df_2012_post = df_2012_ny
df_2013_post = df_2013_ny
df_2014_post = df_2014_ny
df_2015_post = df_2015_ny
df_2016_post = df_2016_ny
df_2017_post = df_2017_ny
df_2018_post = df_2018_ny

In [145]:
# df_2010_post['antal_apo']=df_2010_ny.groupby(by='PostNr')['ApotekNr'].transform('count')
df_2010_post['År'] = 2010
# df_2011_post['antal_apo']=df_2011_ny.groupby(by='PostNr')['ApotekNr'].transform('count')
df_2011_post['År'] = 2011
# df_2012_post['antal_apo']=df_2012_ny.groupby(by='PostNr')['ApotekNr'].transform('count')
df_2012_post['År'] = 2012
# df_2013_post['antal_apo']=df_2013_ny.groupby(by='PostNr')['ApotekNr'].transform('count')
df_2013_post['År'] = 2013
# df_2014_post['antal_apo']=df_2014_ny.groupby(by='PostNr')['ApotekNr'].transform('count')
df_2014_post['År'] = 2014
# df_2015_post['antal_apo']=df_2015_ny.groupby(by='PostNr')['ApotekNr'].transform('count')
df_2015_post['År'] = 2015
# df_2016_post['antal_apo']=df_2016_ny.groupby(by='PostNr')['ApotekNr'].transform('count')
df_2016_post['År'] = 2016
# df_2017_post['antal_apo']=df_2017_ny.groupby(by='PostNr')['ApotekNr'].transform('count')
df_2017_post['År'] = 2017
# df_2018_post['antal_apo']=df_2018_ny.groupby(by='PostNr')['ApotekNr'].transform('count')
df_2018_post['År'] = 2018

In [146]:
df_2010_reduced_post = df_2010_post.drop_duplicates(subset=['Kommune'])
df_2011_reduced_post = df_2011_post.drop_duplicates(subset=['Kommune'])
df_2012_reduced_post = df_2012_post.drop_duplicates(subset=['Kommune'])
df_2013_reduced_post = df_2013_post.drop_duplicates(subset=['Kommune'])
df_2014_reduced_post = df_2014_post.drop_duplicates(subset=['Kommune'])
df_2015_reduced_post = df_2015_post.drop_duplicates(subset=['Kommune'])
df_2016_reduced_post = df_2016_post.drop_duplicates(subset=['Kommune'])
df_2017_reduced_post = df_2017_post.drop_duplicates(subset=['Kommune'])
df_2018_reduced_post = df_2018_post.drop_duplicates(subset=['Kommune'])

In [41]:
df_bres_2008_ny_post = df_2008_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2009_ny_post = df_2009_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2010_ny_post = df_2010_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2011_ny_post = df_2011_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2012_ny_post = df_2012_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2013_ny_post = df_2013_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2014_ny_post = df_2014_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2015_ny_post = df_2015_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2016_ny_post = df_2016_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2017_ny_post = df_2017_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_bres_2018_ny_post = df_2018_post.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)

In [147]:
#df_byer_2010
# jeg vil gerne give hver række værdier fra kolonner d65, d17, samlet_ind, markedsvaerdi,x, yderkom 
#df_byer_2010['d65']=df_bres_2010_ny_post.groupby(by='Kommune')['ApotekNr']
df_byer_2010 = df_byer_2010.merge(df_2010_reduced_post, on='Kommune')
df_byer_2011 = df_byer_2011.merge(df_2011_reduced_post, on='Kommune')
df_byer_2012 = df_byer_2012.merge(df_2012_reduced_post, on='Kommune')
df_byer_2013 = df_byer_2013.merge(df_2013_reduced_post, on='Kommune')
df_byer_2014 = df_byer_2014.merge(df_2014_reduced_post, on='Kommune')
df_byer_2015 = df_byer_2015.merge(df_2015_reduced_post, on='Kommune')
df_byer_2016 = df_byer_2016.merge(df_2016_reduced_post, on='Kommune')
df_byer_2017 = df_byer_2017.merge(df_2017_reduced_post, on='Kommune')
df_byer_2018 = df_byer_2018.merge(df_2018_reduced_post, on='Kommune')

In [148]:
df_byer_2010_drop = df_byer_2010.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1','PostNr','antal_apo', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_byer_2011_drop = df_byer_2011.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1','PostNr','antal_apo', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_byer_2012_drop = df_byer_2012.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1','PostNr','antal_apo', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_byer_2013_drop = df_byer_2013.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1','PostNr','antal_apo', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_byer_2014_drop = df_byer_2014.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1','PostNr','antal_apo', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_byer_2015_drop = df_byer_2015.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1','PostNr','antal_apo', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_byer_2016_drop = df_byer_2016.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1','PostNr','antal_apo', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_byer_2017_drop = df_byer_2017.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1','PostNr','antal_apo', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)
df_byer_2018_drop = df_byer_2018.drop(['GNS_OMS', 'GNS_MED_PROFIT', 'VAR1','PostNr','antal_apo', 'ApotekNr', 'Navn', 'TypeID', 'Adresse', 'Startdato', 'Slutdato', 'amt',  'Region', 'Adresse_v2', 'latitudes',  'Stdato', 'Sldato', 'Styear', 'Sldato', 'dummy', 'longitudes', 'Slyear', 'geometry', 'Year'], axis=1)

In [149]:
df_byer_2010_drop = df_byer_2010_drop.rename(columns={'2010':'By_befolkning'})
df_byer_2011_drop = df_byer_2011_drop.rename(columns={'2011':'By_befolkning'})
df_byer_2012_drop = df_byer_2012_drop.rename(columns={'2012':'By_befolkning'})
df_byer_2013_drop = df_byer_2013_drop.rename(columns={'2013':'By_befolkning'})
df_byer_2014_drop = df_byer_2014_drop.rename(columns={'2014':'By_befolkning'})
df_byer_2015_drop = df_byer_2015_drop.rename(columns={'2015':'By_befolkning'})
df_byer_2016_drop = df_byer_2016_drop.rename(columns={'2016':'By_befolkning'})
df_byer_2017_drop = df_byer_2017_drop.rename(columns={'2017':'By_befolkning'})
df_byer_2018_drop = df_byer_2018_drop.rename(columns={'2018':'By_befolkning'})

In [171]:
from tqdm import tqdm
#årstal = [df_byer_2010_drop, df_byer_2011_drop, df_byer_2012_drop, df_byer_2013_drop, df_byer_2014_drop, df_byer_2015_drop, df_byer_2016_drop, df_byer_2017_drop, df_byer_2018_drop]
årstallet = list(range(2010,2019))
årstal = {2010: df_byer_2010_drop, 2011:df_byer_2011_drop, 2012:df_byer_2012_drop, 2013:df_byer_2013_drop, 2014:df_byer_2014_drop, 2015:df_byer_2015_drop, 2016:df_byer_2016_drop, 2017:df_byer_2017_drop, 2018:df_byer_2018_drop}
årstal_opslag ={2010:df_2010_ny, 2011:df_2011_ny, 2012:df_2012_ny, 2013:df_2013_ny, 2014:df_2014_ny, 2015:df_2015_ny, 2016:df_2016_ny, 2017:df_2017_ny, 2018:df_2018_ny}
antal_apo = []
count = 0


for år in tqdm(årstallet):
    antal_apo = []
    for postnr in range(len(årstal[år]['postnummer'])): #df_byer_2010_drop
        if type(årstal[år]['postnummer'][postnr]) is int:
            count = 0
            for postnummer in årstal_opslag[år]['PostNr']:
                if postnummer == årstal[år]['postnummer'][postnr]:
                    count+=1
            antal_apo.append(count)
        else:
#     if type(df_byer_2010_drop['postnummer'][postnr]) is str:
            count = 0
            for postnummer in årstal_opslag[år]['PostNr']:
                if str(postnummer) in årstal[år]['postnummer'][postnr]:
                    count+=1
            antal_apo.append(count)        
    årstal[år]['antal_apo'] = antal_apo

100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:09<00:00,  1.23s/it]

In [174]:
frames_by = [ df_byer_2010_drop, df_byer_2011_drop, df_byer_2012_drop, df_byer_2013_drop, df_byer_2014_drop, df_byer_2015_drop, df_byer_2016_drop, df_byer_2017_drop, df_byer_2018_drop]#df_bres_2010, df_bres_2011, df_bres_2012, df_bres_2013, df_bres_2014, df_bres_2015, df_bres_2016, df_bres_2017, df_bres_2018]
df_bres_samlet_by = pd.concat(frames_by)

In [181]:
df_bres_samlet_by_fjernet_nr = df_bres_samlet_by.drop(columns = "postnummer")
df_bres_samlet_by_fjernet_nr.to_csv('Bresnahan_data_by.csv')

In [177]:
df_bres_samlet_by.to_excel('Bresnahan_data_by.xlsx')

In [178]:
df_bres_samlet_by_fjernet_n

,Kommune,by,postnummer,By_befolkning,ALDER,d65,d17,samlet_ind,Besk,Besk1864,DK,Befolkning,markedsvaerdix,yderkom,År,antal_apo
0,101,København,"0900, 0910, 0913, 0914, 0917, 0918, 0919, 0929...",528208,35.67,0.103503,0.174835,195272.57080,0.527085,0.704517,0.784321,539542,1.564751e+06,0,2010,17
1,147,Frederiksberg,"1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807...",100115,39.06,0.160302,0.170881,222330.65612,0.519357,0.736546,0.837824,98782,1.783340e+06,0,2010,5
2,230,Rudersdal,"2840, 2850, 2942, 2950, 3460",40199,41.74,0.206847,0.241705,269124.85149,0.480505,0.782614,0.899447,54765,2.904042e+06,0,2010,3
3,240,Ølstykke-Stenløse,"3650, 3660",23556,38.39,0.149325,0.266016,223787.64939,0.524620,0.825860,0.937163,41614,1.461146e+06,0,2010,1
4,240,Veksø,3670,1891,38.39,0.149325,0.266016,223787.64939,0.524620,0.825860,0.937163,41614,1.461146e+06,0,2010,0
5,461,Odense,"5000, 5029, 5100, 5200, 5210, 5220, 5230, 5240...",179029,38.63,0.156172,0.204915,164919.79876,0.463672,0.679873,0.865025,190245,1.336023e+06,0,2010,10
6,461,Fraugde,5220,3133,38.63,0.156172,0.204915,164919.79876,0.463672,0.679873,0.865025,190245,1.336023e+06,0,2010,1
7,751,Aarhus,"8000, 8100, 8200, 8210,",242914,36.85,0.129121,0.198449,179395.74035,0.499035,0.699513,0.856622,310956,1.567268e+06,0,2010,6
8,751,Mårslet,8320,4379,36.85,0.129121,0.198449,179395.74035,0.499035,0.699513,0.856622,310956,1.567268e+06,0,2010,0
9,751,Solbjerg,8355,3139,36.85,0.129121,0.198449,179395.74035,0.499035,0.699513,0.856622,310956,1.567268e+06,0,2010,0
10,751,Trige,8380,2701,36.85,0.129121,0.198449,179395.74035,0.499035,0.699513,0.856622,310956,1.567268e+06,0,2010,0
11,751,Harlev,8462,3508,36.85,0.129121,0.198449,179395.74035,0.499035,0.699513,0.856622,310956,1.567268e+06,0,2010,0
12,751,Sabro,8471,2474,36.85,0.129121,0.198449,179395.74035,0.499035,0.699513,0.856622,310956,1.567268e+06,0,2010,0
13,751,Lystrup,8520,10027,36.85,0.129121,0.198449,179395.74035,0.499035,0.699513,0.856622,310956,1.567268e+06,0,2010,1
14,751,Hjortshøj,8530,2867,36.85,0.129121,0.198449,179395.74035,0.499035,0.699513,0.856622,310956,1.567268e+06,0,2010,0
15,751,Løgten,8541,6207,36.85,0.129121,0.198449,179395.74035,0.499035,0.699513,0.856622,310956,1.567268e+06,0,2010,0
16,730,Randers,"8900, 8920, 8930, 8940, 8960,",64514,40.19,0.173724,0.219759,167373.19898,0.475991,0.720874,0.942186,95318,9.993912e+05,0,2010,3
17,730,Spentrup,8981,2444,40.19,0.173724,0.219759,167373.19898,0.475991,0.720874,0.942186,95318,9.993912e+05,0,2010,0
18,730,Stevnstrup,8870,4604,40.19,0.173724,0.219759,167373.19898,0.475991,0.720874,0.942186,95318,9.993912e+05,0,2010,0
19,851,Aalborg,"9000, 9029, 9100, 9200, 9210, 9220",104913,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,6
20,851,Nibe,9240,4996,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,1
21,851,Gistrup,9260,3550,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,0
22,851,Klarup,9270,4075,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,0
23,851,Kongerslev,9293,1405,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,0
24,851,Gandrup,9362,1544,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,0
25,851,Vestbjerg,9380,2651,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,0
26,851,Sulsted,9381,1525,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,0
27,851,Tylstrup,9382,1281,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,0
28,851,Nørresundby,9400,21120,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,1
29,851,Mou,9280,4397,39.10,0.161897,0.198335,173625.74919,0.482414,0.706352,0.920283,199188,1.182471e+06,0,2010,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,810,Brønderslev,9700,12598,42.56,0.218779,0.216002,170559.95165,0.477278,0.759439,0.929189,36370,8.643025e+05,0,2018,2
360,849,Brovst,9460,2781,43.69,0.239288,0.203224,166061.77609,0.479398,0.765624,0.939287,38460,9.627018e+05,0,2018,1
361,849,Fjerritslev,9690,3458,43.69,0.239288,0.203224,166061.77609,0.479398,0.765624,0.939287,38460,9.627018e+05,0,2018,1
362,849,Nørhalne,9430,3707,43.69,0.239288,0.203224,166061.77609,0.479398,0.765624,0.939287,38460,9.627018e+05,0,2018,0
363,849,Biersted,9440,7539,43.69,0.239288,0.203224,166061.77609,0.479398,0.765624,0.939287,38460,9.627018e+05,0,2018,1
364,849,Kås,9490,5454,43.69,0.239288,0.203224,166061.77609,0.479398,0.765624,0.939287,38460,9.627018e+05,0,2018,1
365,860,Løkken,9480,1599,43.69,0.231331,0.195175,170647.52008,0.483361,0.755866,0.919406,64665,1.131648e+06,0,2018,1
366,860,Vrå,9760,2461,43.69,0.231331,0.195175,170647.52008,0.483361,0.755866,0.919406,64665,1.131648e+06,0,2018,1
367,860,Hjørring,9800,25994,43.69,0.231331,0.195175,170647.52008,0.483361,0.755866,0.919406,64665,1.131648e+06,0,2018,3
368,860,Tårs,9830,1888,43.69,0.231331,0.195175,170647.52008,0.483361,0.755866,0.919406,64665,1.131648e+06,0,2018,0
369,860,Sindal,9870,3007,43.69,0.231331,0.195175,170647.52008,0.483361,0.755866,0.919406,64665,1.131648e+06,0,2018,1
370,860,Bindslev,9881,1084,43.69,0.231331,0.195175,170647.52008,0.483361,0.755866,0.919406,64665,1.131648e+06,0,2018,0
371,860,Tornby,9850,6877,43.69,0.231331,0.195175,170647.52008,0.483361,0.755866,0.919406,64665,1.131648e+06,0,2018,1
372,846,Arden,9510,2504,43.51,0.225395,0.197289,177052.87973,0.489407,0.760894,0.922705,42055,9.114952e+05,0,2018,0
373,846,Mariager,9550,2496,43.51,0.225395,0.197289,177052.87973,0.489407,0.760894,0.922705,42055,9.114952e+05,0,2018,1
374,846,Hadsund,9560,5003,43.51,0.225395,0.197289,177052.87973,0.489407,0.760894,0.922705,42055,9.114952e+05,0,2018,1
375,846,Hobro,9500,13148,43.51,0.225395,0.197289,177052.87973,0.489407,0.760894,0.922705,42055,9.114952e+05,0,2018,1
376,840,Skørping,9520,2982,40.93,0.193508,0.238835,199586.39944,0.516623,0.818713,0.943227,29916,1.154223e+06,0,2018,1
377,840,Støvring,9530,7955,40.93,0.193508,0.238835,199586.39944,0.516623,0.818713,0.943227,29916,1.154223e+06,0,2018,1
378,840,Suldrup,9541,1260,40.93,0.193508,0.238835,199586.39944,0.516623,0.818713,0.943227,29916,1.154223e+06,0,2018,0
379,840,Terndrup,9575,1593,40.93,0.193508,0.238835,199586.39944,0.516623,0.818713,0.943227,29916,1.154223e+06,0,2018,1
380,840,Nørager,9610,1140,40.93,0.193508,0.238835,199586.39944,0.516623,0.818713,0.943227,29916,1.154223e+06,0,2018,0
381,820,Aars,9600,8301,43.50,0.232348,0.200372,166023.22868,0.485768,0.763927,0.909209,37121,9.607914e+05,0,2018,1
382,820,Aalestrup,9620,2788,43.50,0.232348,0.200372,166023.22868,0.485768,0.763927,0.909209,37121,9.607914e+05,0,2018,1
383,820,Farsø,9640,3375,43.50,0.232348,0.200372,166023.22868,0.485768,0.763927,0.909209,37121,9.607914e+05,0,2018,1
384,820,Løgstør,9670,4112,43.50,0.232348,0.200372,166023.22868,0.485768,0.763927,0.909209,37121,9.607914e+05,0,2018,1
385,183,Ishøj,2635,22058,38.48,0.160682,0.222915,169250.17821,0.477660,0.724610,0.597359,22946,1.459693e+06,0,2018,1
386,155,Søvang,2791,13837,43.83,0.243868,0.226419,245042.36065,0.490812,0.826427,0.915065,14270,2.653095e+06,0,2018,1
387,607,Fredericia,7000,44394,42.01,0.206487,0.203590,184063.49113,0.477878,0.742141,0.886049,51427,1.225319e+06,0,2018,6
388,727,Hov,8300,13628,43.22,0.229151,0.213098,185984.82978,0.494277,0.792442,0.919042,22675,1.430394e+06,0,2018,2